/*
Name: Amruta
Date Created: Nov 24,2018
Most recent revision: 
*/


header ,footer{
    background-color: #5b7d87;
    color: #fef9ff;
    height: 50px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

h1 {
    font-size: 2em;
}